main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-image: url("https://magazine.bellesdemeures.com/sites/default/files/article/image/metropolitan_museum_of_art_de_nuit.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    object-fit: cover;
    text-align: center;
    height:100vh;
}

.end-message{
    margin:15%;
    font-weight: bold;
    background-color: rgba(91, 85, 92, 0.48);
}
